.header {
  border-bottom: 1px solid $hc-light-grey;
  display: flex;
  flex-direction: column;
  margin-bottom: $s-size;
  padding: $m-size;
  padding-left: 0;
}

.header--logo {
  max-width: 20rem;
}

.header--title {
  color: $hc-dark-grey;
  margin: $s-size 0 0 0;
}

@media (min-width: $desktop-breakpoint){
  .header {
    margin-bottom: $m-size;
    flex-direction: row;
  }

  .header--title {
    margin: 0 0 0 1rem;
    padding-top: .7rem;
  }

  .header--logo {
    max-height: 2.5rem;
  }
}
