// Colors
$hc-green: #40d9ac;
$hc-red: #e86f63;
$hc-dark-grey: rgb(51, 51, 51);
$hc-light-grey: rgb(161, 161, 161);

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
